<div class="login-wrapper">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>

    <form
      class="example-form"
      [formGroup]="forgotPassword"
      (ngSubmit)="submit()"
    >
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="password"
            placeholder="Old Password"
            formControlName="oldPassword"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            type="password"
            placeholder="New Password"
            formControlName="newPassword"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput />
        </mat-form-field>
      </mat-card-content>
      <button
        mat-stroked-button
        color="accent"
        class="btn-block"
        [disabled]="!forgotPassword.valid"
      >
        Submit
      </button>
    </form>
  </mat-card>
</div>
